.container {
    background-color: beige;
    height: 1000px;
}

.row>[class^='col'] {
    height: 100px;
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
}

.row {

    /*HEI GUARDAMI */

    /* column-gap: calc((100% / 12) / 10); */
}

.row>.nest {
    padding: 20px 10px;
    column-gap: 10px;

}

.row>.nested {
    background-color: #00e165;
    height: 60px;
    border-color: #006cfa;
}